$accent: #003473

.app_wrapper
	max-width: 750px
	margin: 0 auto
	padding: 10px
	background-color: #fff
	color: #111111

.question
	&_wrapper
		margin-bottom: 15px

	&__answers-list

	&__title
		font-size: 1.1em
		font-weight: bold
		margin-bottom: 10px

.btn-send
	display: block
	margin: 0 auto
	width: 90px
	padding: 5px 10px
	text-align: center
	border-radius: 3px
	background-color: $accent
	color: #fff